@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
/* line 5, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 14, ../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, ../sass/components/partials/_typography.scss */
body {
  font-size: 1em;
  line-height: 1.61803em;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

/* line 33, ../sass/components/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/* line 37, ../sass/components/partials/_typography.scss */
h1, .h1 {
  font-size: 6.8541em; }

/* line 38, ../sass/components/partials/_typography.scss */
h2, .h2 {
  font-size: 4.23607em; }

/* line 39, ../sass/components/partials/_typography.scss */
h3, .h3 {
  font-size: 2.61803em; }

/* line 40, ../sass/components/partials/_typography.scss */
h4, .h4 {
  font-size: 2.05817em; }

/* line 41, ../sass/components/partials/_typography.scss */
h5, .h5 {
  font-size: 1.43463em; }

/* line 4, ../sass/components/partials/_buttons.scss */
.btn {
  clear: both;
  color: #787878;
  font-size: 1.12784em;
  text-transform: lowercase;
  text-decoration: none;
  border: 1px solid #c7c7c7;
  display: block;
  padding: 0.75em 1em;
  text-align: center; }
  @media (min-width: 40em) {
    /* line 4, ../sass/components/partials/_buttons.scss */
    .btn {
      display: none; } }

/* line 6, ../sass/components/modules/_header.scss */
.header {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: fixed;
  height: 90px;
  background-color: #eee;
  color: #fff;
  border-bottom: 1px solid #c7c7c7;
  z-index: 1; }
  @media (min-width: 80em) {
    /* line 6, ../sass/components/modules/_header.scss */
    .header {
      padding-left: 0; } }

/* line 21, ../sass/components/modules/_header.scss */
.site-header {
  height: 0;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .site-header:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 80em) {
    /* line 21, ../sass/components/modules/_header.scss */
    .site-header {
      max-width: 80em;
      margin-left: auto;
      margin-right: auto; }
      /* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      .site-header:after {
        content: " ";
        display: block;
        clear: both; } }

/* line 29, ../sass/components/modules/_header.scss */
.logo {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  display: block;
  position: fixed;
  background-color: #eee;
  z-index: 1000;
  margin: 1em auto;
  margin-top: 1.5em;
  padding-left: 1em; }
  /* line 38, ../sass/components/modules/_header.scss */
  .logo a {
    display: block;
    padding-top: 5px;
    font-weight: 700;
    text-decoration: none;
    color: #4a5a62; }

/* line 4, ../sass/components/modules/_navigation.scss */
.menu {
  height: 0; }

/* line 8, ../sass/components/modules/_navigation.scss */
.menu-button {
  display: block;
  cursor: pointer;
  float: right;
  text-decoration: none;
  color: #3d3d3d;
  margin: 2em 1.5em;
  transition: all .25s ease; }
  /* line 16, ../sass/components/modules/_navigation.scss */
  .menu-button .fa {
    color: #787878;
    margin-left: 0.75em; }
  /* line 20, ../sass/components/modules/_navigation.scss */
  .menu-button .fa-map-marker {
    font-size: 1.125em; }

/* line 25, ../sass/components/modules/_navigation.scss */
.dropdown {
  padding: 0.5em 5em;
  background-color: #dadada;
  border-top: 1px solid #c7c7c7;
  border-bottom: 10px solid #c7c7c7;
  width: 100%;
  top: 89px;
  position: absolute;
  height: 350px;
  overflow-y: scroll; }
  /* line 35, ../sass/components/modules/_navigation.scss */
  .dropdown li {
    list-style: none;
    padding: 0.9em 1.5em;
    text-align: center; }
    @media (min-width: 40em) {
      /* line 35, ../sass/components/modules/_navigation.scss */
      .dropdown li {
        text-align: right;
        display: inline-block;
        padding: 0.5em 1.5em; } }
  /* line 45, ../sass/components/modules/_navigation.scss */
  .dropdown a {
    text-decoration: none;
    color: #3d3d3d; }
  @media (min-width: 40em) {
    /* line 25, ../sass/components/modules/_navigation.scss */
    .dropdown {
      display: block;
      position: relative;
      height: auto;
      top: 0;
      text-align: center;
      overflow: auto;
      border-bottom: 1px solid #c7c7c7; } }

/* line 60, ../sass/components/modules/_navigation.scss */
.back-to-top {
  font-weight: 700; }
  /* line 62, ../sass/components/modules/_navigation.scss */
  .back-to-top a {
    color: #787878; }
  @media (min-width: 40em) {
    /* line 66, ../sass/components/modules/_navigation.scss */
    .back-to-top a {
      display: none; } }

/* line 73, ../sass/components/modules/_navigation.scss */
.fadein, .fadeout {
  opacity: 0;
  visibility: hidden;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

/* line 82, ../sass/components/modules/_navigation.scss */
.fadein {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

/* line 5, ../sass/components/modules/_floorplan.scss */
.x-small, .small, .large {
  width: 100%; }

/* line 10, ../sass/components/modules/_floorplan.scss */
.x-small {
  display: block;
  position: relative;
  top: 120px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 3em; }
  @media (min-width: 40em) {
    /* line 10, ../sass/components/modules/_floorplan.scss */
    .x-small {
      display: none; } }

/* line 21, ../sass/components/modules/_floorplan.scss */
.small {
  display: none; }
  @media (min-width: 40em) {
    /* line 21, ../sass/components/modules/_floorplan.scss */
    .small {
      display: block;
      position: relative;
      top: 120px;
      padding-left: 1em;
      padding-right: 1em;
      margin-bottom: 3em; } }
  @media (min-width: 64em) {
    /* line 21, ../sass/components/modules/_floorplan.scss */
    .small {
      display: none; } }

/* line 36, ../sass/components/modules/_floorplan.scss */
.large {
  display: none; }
  @media (min-width: 64em) {
    /* line 36, ../sass/components/modules/_floorplan.scss */
    .large {
      display: block;
      position: relative;
      padding-left: 2.5em;
      padding-right: 2.5em;
      top: 120px;
      margin-bottom: 2em; } }
  @media (min-width: 80em) {
    /* line 36, ../sass/components/modules/_floorplan.scss */
    .large {
      padding-left: 6em;
      padding-right: 6em; } }

/* line 5, ../sass/components/modules/_list_view.scss */
.content {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 2em;
  padding-right: 2em; }
  @media (min-width: 64em) {
    /* line 5, ../sass/components/modules/_list_view.scss */
    .content {
      width: 50%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding-left: 2em;
      padding-right: 2em; } }
  /* line 14, ../sass/components/modules/_list_view.scss */
  .content:last-child {
    margin-bottom: 3em; }

/* line 19, ../sass/components/modules/_list_view.scss */
.floorplan-list {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .floorplan-list:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 21, ../sass/components/modules/_list_view.scss */
  .floorplan-list h4 {
    color: #4a5a62;
    margin-bottom: 1em; }
  /* line 25, ../sass/components/modules/_list_view.scss */
  .floorplan-list .content--sensor-list {
    clear: both;
    list-style-type: none; }

/* line 32, ../sass/components/modules/_list_view.scss */
.numbers {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-weight: 700;
  color: #b9c5ca;
  margin: 1em 0 0.5em 0;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #c7c7c7; }

/* line 42, ../sass/components/modules/_list_view.scss */
.labels, .status {
  display: block; }

/* line 46, ../sass/components/modules/_list_view.scss */
.label {
  text-transform: lowercase;
  color: #5b5b5b;
  font-weight: 400; }

/* line 52, ../sass/components/modules/_list_view.scss */
.status {
  text-transform: uppercase;
  font-size: 0.88665em;
  margin-bottom: 2em; }

/* line 4, ../sass/components/modules/_sensors.scss */
.sensor {
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  text-align: center;
  padding-left: 0; }
  /* line 9, ../sass/components/modules/_sensors.scss */
  .sensor .status-icon {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    margin-bottom: 0.5em;
    text-align: center; }
  /* line 18, ../sass/components/modules/_sensors.scss */
  .sensor .svg, .sensor .on, .sensor .disconnected {
    clear: both;
    clear: both;
    display: block;
    width: 80%;
    margin: 0em auto 1em;
    border-radius: 50%;
    background-color: #24a449; }
    @media (min-width: 64em) {
      /* line 18, ../sass/components/modules/_sensors.scss */
      .sensor .svg, .sensor .on, .sensor .disconnected {
        width: 90%; } }
  /* line 31, ../sass/components/modules/_sensors.scss */
  .sensor .on {
    background-color: #24a449;
    transition: all .25s ease; }
  /* line 36, ../sass/components/modules/_sensors.scss */
  .sensor .disconnected {
    background-color: #c7c7c7;
    transition: all .25s ease; }
  /* line 41, ../sass/components/modules/_sensors.scss */
  .sensor .off {
    background-color: #c3050e;
    transition: all .25s ease; }
  @media (min-width: 40em) {
    /* line 4, ../sass/components/modules/_sensors.scss */
    .sensor {
      width: 25%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; } }
  @media (min-width: 64em) {
    /* line 4, ../sass/components/modules/_sensors.scss */
    .sensor {
      width: 33.33333%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; } }

/* line 53, ../sass/components/modules/_sensors.scss */
.not-detected:after {
  content: "Not Detected";
  display: block;
  clear: both;
  transition: all .25s ease; }

/* line 60, ../sass/components/modules/_sensors.scss */
.detected:after {
  content: "Detected";
  display: block;
  clear: both;
  transition: all .25s ease; }

/* line 6, ../sass/components/modules/_svg_animations.scss */
.amps-animate {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV"; }

/* line 5, ../sass/components/modules/_tooltips.scss */
.lab-tooltip {
  background-color: #eee;
  border: 1px solid #CCC; }
  /* line 9, ../sass/components/modules/_tooltips.scss */
  .lab-tooltip ul {
    list-style-type: none;
    margin: 10px; }
    /* line 13, ../sass/components/modules/_tooltips.scss */
    .lab-tooltip ul li {
      padding: 7px 5px; }
      /* line 16, ../sass/components/modules/_tooltips.scss */
      .lab-tooltip ul li span {
        text-transform: lowercase;
        font-size: 1.43463em;
        line-height: 1.27202em; }
      /* line 22, ../sass/components/modules/_tooltips.scss */
      .lab-tooltip ul li .room-name-small {
        text-transform: capitalize; }
      /* line 26, ../sass/components/modules/_tooltips.scss */
      .lab-tooltip ul li a {
        color: #787878;
        font-size: 1.27202em;
        text-transform: lowercase;
        text-decoration: none;
        border: 1px solid #dadada;
        display: block;
        padding: 0.75em 1em;
        text-align: center; }
        @media (min-width: 40em) {
          /* line 26, ../sass/components/modules/_tooltips.scss */
          .lab-tooltip ul li a {
            font-size: 1.43463em; } }
      /* line 40, ../sass/components/modules/_tooltips.scss */
      .lab-tooltip ul li.view-link {
        margin-top: 10px; }

/* line 47, ../sass/components/modules/_tooltips.scss */
.qtip-content {
  background-color: #f0f0f0; }

/* line 4, ../sass/components/modules/_footer.scss */
.signals {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  display: block;
  position: fixed;
  clear: both;
  z-index: 1;
  color: #787878;
  bottom: 0;
  text-align: center;
  padding: 1em;
  background-color: #eee;
  border-top: 1px solid #c7c7c7; }
  /* line 16, ../sass/components/modules/_footer.scss */
  .signals li {
    padding: 0 1em 0.5em; }
    /* line 18, ../sass/components/modules/_footer.scss */
    .signals li span {
      font-weight: 700;
      padding-left: 10px;
      padding-right: 2px; }
    @media (min-width: 40em) {
      /* line 16, ../sass/components/modules/_footer.scss */
      .signals li {
        display: inline-block; } }

/* line 19, ../sass/components/_pageOne.scss */
.fadein, .fadeout {
  opacity: 0;
  visibility: hidden;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

/* line 28, ../sass/components/_pageOne.scss */
.fadein {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }
