// =========================================
// Floorplan View
// =========================================

// Floorplan images
.x-small {
	display: block;
	position: relative;
	top: 120px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-bottom: 3em;
	@include breakpoint($medium) {
		display: none;
	}
}
.small {
	display: none;
		@include breakpoint($medium) {
		display: block;
		position: relative;
		top: 120px;
		padding-left: 1em;
		padding-right: 1em;
		margin-bottom: 3em;
	}
	@include breakpoint($large) {
		display: none;
	}
}

.large {
	display: none;
	@include breakpoint($large) {
		display: block;
		position: relative;
		padding-left: 2.5em;
		padding-right: 2.5em;
		top: 120px;
		margin-bottom: 2em;
	}
	@include breakpoint($x-large) {
		padding-left: 6em;
		padding-right: 6em;
	}
}