// =========================================
// Sensors
// =========================================
.sensor {
	@include span(4);
	text-align: center;
	padding-left: 0;

	.status-icon {
		@include break;
		margin-left: auto;
		margin-right: auto;
		height: 0;
		margin-bottom: 0.5em;
		text-align: center;
	}

	.replaced-svg {
		@include break;
		clear: both;
		display: block;
		width: 80%;
		margin: 0em auto 1em;
		border-radius: 50%;
		background-color: $green;
		@include breakpoint($large) {
			width: 90%;
		}
	}

	.disconnected.replaced-svg {
		background-color: $grey-light;
	}

	.off.replaced-svg {
		background-color: $red;
	}
	@include breakpoint($medium) {
		@include span(3);
	}
	@include breakpoint($large) {
		@include span(4);
	}
}
