// =========================================
// Sensors
// =========================================
.sensor {
	@include span(4);
	text-align: center;
	padding-left: 0;

	.status-icon {
		@include break;
		margin-left: auto;
		margin-right: auto;
		height: 0;
		margin-bottom: 0.5em;
		text-align: center;
	}

	.svg, .on, .disconnected {
		@include break;
		clear: both;
		display: block;
		width: 80%;
		margin: 0em auto 1em;
		border-radius: 50%;
		background-color: $green;
		@include breakpoint($large) {
			width: 90%;
		}
	}

	.on {
		background-color: $green;
		transition: all .25s ease;
	}

	.disconnected {
		background-color: $grey-light;
		transition: all .25s ease;
	}

	.off {
		background-color: $red;
		transition: all .25s ease;
	}
	@include breakpoint($medium) {
		@include span(3);
	}
	@include breakpoint($large) {
		@include span(4);
	}
}

.not-detected:after {
	content: "Not Detected";
	display: block;
	clear: both;
	transition: all .25s ease;
}

.detected:after {
	content:"Detected";
	display: block;
	clear: both;
	transition: all .25s ease;
}
















