// =========================================
// SVG Animations
// =========================================

// Amps
.amps-animate {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    // transition: all .25s ease;
}

// Camera
.camera img {
	transition: all .25s ease;
}
.camera img.on {
	display: none;
	transition: all .25s ease;
}

// Pressure
.amp img.animated,
.pressure img.animated,
.wind img.animated {
	opacity: 1;
	transition: inherit;
	margin-top: -180px;
}
