// =========================================
// Color Palette
// =========================================

// Base Colors
$white    : #fff;
$black    : #202020;

$grey-dark     : #3d3d3d;
$grey-medium   : #5b5b5b;
$grey          : #787878;

$grey-light    : #c7c7c7;
$grey-x-light  : #dadada;
$grey-xx-light : #eee;

/////

$blue-x-dark        : #4a5a62;

$blue-grey-dark     : #4a5a62;
$blue-grey          : #b9c5ca;
$blue-grey-light    : #d0d7db;
$blue-grey-x-light  : #dbe1e4;
$blue-grey-xx-light : #e6eaec;

$green  : #24a449;
$red    : #f0f0f0;